<div :style="{position: 'relative', overflow: isTransitioning ? 'hidden' : 'unset'}">
    <transition name="page-transition"
                @before-enter="setTransitioning(true)"
                @before-leave="setTransitioning(true)"
                @after-enter="setTransitioning(false)"
                @after-leave="setTransitioning(false)"
    >
        <div v-show="!availabilityEditorStateToggleable.isOn()">
            <div class="eddbk-tab-error" v-if="isValidationError">
                {{ _('Create at least one availability rule to publish the service') }}
            </div>

            <p class="info mobile-collapsed">
                Click on any time or day in the calendar bellow to start adding your available
                times for this service. You may set recurring availabilities to save time,
                exclude dates where the availability does not apply, and much more.
                <a href="https://docs.eddbookings.com/article/345-how-to-add-a-new-service-the-availability-calendar-explained" target="_blank">Learn more.</a>
            </p>

            <p class="info mobile-only">
                Tap on the blue plus button on the bottom right of the calendar to set a new availability. You may set recurring
                availabilities to save time, exclude dates where the availability does not apply, and much more.
                <a href="https://docs.eddbookings.com/article/345-how-to-add-a-new-service-the-availability-calendar-explained" target="_blank">Learn more.</a>
            </p>
            <p class="info mobile-only">
                Scroll sideways on the calendar to view more.
            </p>

            <div class="alert alert-warning" v-if="overlappingAvailabilities">
                <span class="dashicons dashicons-info"></span>
                <span>
        There are at least two availabilities for this service that overlap. Only one of these availabilities will be available to your clients in the booking wizard. We recommend removing one of them.
        <a href="https://docs.eddbookings.com/article/345-how-to-add-a-new-service-the-availability-calendar-explained/#overlapping-day-availabilities" target="_blank">Click here to learn more.</a>
    </span>
            </div>
            <div class="alert alert-warning" v-if="!value.length">
                <span class="dashicons dashicons-info"></span>
                <span>
        There is no availability set for this service. Please add at least one available date and time in order to start accepting bookings for this service.
    </span>
            </div>

            <div style="margin-bottom: 12px">
                <label for="eddbk-timezone-select">
                    Service timezone: <timezone-select id="eddbk-timezone-select" v-model="timezoneProxy"></timezone-select>
                </label>
            </div>
            <div class="row">
                <div class="col-5 columns columns-no-right">
                    <div class="rich-rows rich-rows--no-padding">
                        <div class="availabilities-cta">
                            <div class="rich-row rich-row--cta" @click="addRule">
                                Create  new availability rule
                            </div>
                        </div>
                        <div class="availabilities-list">
                            <div class="rich-row rich-row--smaller" v-for="availability of value">
                                <div class="rich-row__column rich-row__column--6">
                                    {{ getInfo(availability).timeRange }}
                                    <div class="rich-row__header">
                                        {{ getInfo(availability).from }}, {{ getInfo(availability).for }}
                                    </div>
                                </div>
                                <div class="rich-row__column rich-row__column--4">
                                    {{ getInfo(availability).repeatDescription }}
                                    <div class="rich-row__header" v-if="getInfo(availability).frequency">
                                        {{ getInfo(availability).frequency }}
                                    </div>
                                </div>
                                <div class="rich-row__column rich-row__actions">
                                    <div class="button-group">
                                        <div class="button" @click="editRule(availability)">Edit</div>
                                        <div class="button button-icon" @click="removeRule(availability)"><span class="dashicons dashicons-trash"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7 columns columns-no-left" style="min-height: 12rem">
                    <availability-calendar :availabilities="value"
                                           class="rc-calendar rc-calendar--availability"
                                           @availability-click="openAvailabilityEditor"
                                           :overlapping-availabilities.sync="overlappingAvailabilities"
                                           :visible-timezone="timezone"
                    ></availability-calendar>
                </div>
            </div>
        </div>
    </transition>
    <service-availability-editor :entities-collection="entitiesCollection"/>
</div>
